.buttonStyle{
    border:1px solid white;
    border-radius: 5px;
    padding:5px;
}
.buttonStyle:hover {
    transform: scale(1.1); 
}
.form-group {
     padding-bottom: 0px!important; 
     margin: 0px!important;
}
.form-group.required .control-label:after { 
    content:"*";
    color:red;
 }