<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <app-sub-category [elements]="rawMaterialSubCategories" (subCategoryComponentResponse)="subCategoryComponentResponse($event)"></app-sub-category>-->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Select Resource To View/Modify</h4>
                        <span class="category"></span>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-info" (click)="selectedType='basic'">Basic Materials</button>
                                <button class="btn btn-info" (click)="selectedType='subCategory'">Sub Category</button>
                                <button class="btn btn-info" (click)="selectedType='hr'">Human Resources</button>
                                <button class="btn btn-info" (click)="selectedType='stock'">Stock</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container [ngSwitch]="selectedType">
                <app-basic-category *ngSwitchCase="'basic'"></app-basic-category>
                <app-sub-category *ngSwitchCase="'subCategory'"></app-sub-category>
                <app-stock *ngSwitchCase="'stock'"></app-stock>
                <app-hr *ngSwitchCase="'hr'"></app-hr>
            </ng-container>
        </div>
    </div>
</div>